* {
	all: unset;
}

.powermenu-box {
	background-color: $color0;
	border-radius: 12px;
	padding: 15px;
}

.power-profile-box {
	background-color: $color8;
	border-radius: 15px;
	padding: 10px;
}

.power-profile-img {
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 150px;
	min-width: 150px;
	box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.power-profile-info {
	font-family: "SF Pro";
	color: $color0;
}

.power-profile-name {
	font-size: 20px;
	font-weight: bold;
}

.power-profile-os,
.power-profile-uptime {
	font-size: 18px;
}

.buttons-box {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 18px;
	border-radius: 12px;
	background-color: $color8;
}

.shutdown {
	color: $color0;
	background-color: $color7;
	margin: 5px 5px 5px 5px;
}

.reboot {
	color: $color0;
	background-color: $color7;
	margin: 5px 5px 5px -5px;
}

.reboot:hover,
.shutdown:hover,
.exit:hover,
.lock:hover,
.suspend:hover {
background-color: $color0;
color: $color7;
}

.reboot,
.shutdown,
.exit,
.lock,
.suspend {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 25px;
	border-radius: 30px;
	padding: 3px;
	min-width: 110px;
	min-height: 110px;
	background-color: $color7;
}

.exit {
	color: $color0;
	background-color: $color7;
	margin: 5px 5px 5px -5px;
}

.suspend {
	color: $color0;
	background-color: $color7;
	margin: 5px 5px 5px 5px;
}
