* {
	all: unset;
}

.player {
	background-color: $color0;
	padding: 10px;
	min-height: 160px;
	border-radius: 12px;
	font-family: "Liga SFMono Nerd Font", "Font Awesome 6 Pro Solid";
}

.player-art {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 16px;
	min-width: 350px;
	min-height: 180px;
}

.player-info {
	border-radius: 12px;
	background: linear-gradient(to right, rgb(25, 25, 25, 1), rgba(38, 38, 38, 0.5));
	padding: 10px 10px 0px 10px;
}

.player-title {
	font-size: 13px;
	font-weight: bolder;
}

.player-artist {
	color: $color7;
	padding-bottom: 42px
}

.player-bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, $cyan, $green);
	border-radius: 24px;
}
.player-bar scale trough {
	all: unset;
	background-color: $color0;
    box-shadow: 1px 1px 4px 1px rgba(38, 38, 38, 0.9);
	border-radius: 24px;
	min-height: 6px;
	min-width: 325px;
}

.player-position {
	font-weight: 500;
}

.player-controls {
	background-color: $color8;
	padding: 10px;
	margin-left: 10px;
	border-radius: 12px;
	min-width: 25px;
}

.player-toggle {
	font-size: 30px;
	color: $color0;
}

.player-previous,
.player-next {
	font-size: 25px;
	color: $color0;
}

.player-toggle:hover,
.player-previous:hover,
.player-next:hover {
	color: $color1;
}

.player-shuffle,
.player-loop {
	font-size: 16px;
}
