.cal-box {
  background-color: $contrastbg;
  color: #f7f7f7;
  border-radius: 12px;
  padding: 0px 0px 0px 0px;
  margin: 10px 10px 0px 10px;

  .cal {
    padding: .5rem 1.0rem 0rem;
    margin-left: 15px;

    &.highlight {
      padding: 20rem;
    }
  }
}

calendar:selected {
  color: #89b06d;
}

calendar.header {
  color: #ebae34;
  font-weight: bold;
}

calendar.button {
  color: #88cbd4;
}

calendar.highlight {
  background: none;
  color: #ff9640;
  font-weight: bold;
}

.todo-header {
  font-family: "Delius Swash Caps";
  font-size: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid $lightblack 1px;
  min-width: 300px;
}

.todo {
  font-family: "Delius Swash Caps";
  font-size: 12px;
  border-bottom: solid $lightblack 1px;
  min-width: 300px;
}


.todo-check {
  font-size: 15px;
  margin: 10px 7px -7px 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.powermenu-box {
	border-radius: 0 0 0 15%;
	padding: 15px;
}

.power-profile-box {
	background-color: $darkbg;
	border-radius: 2% 2% 2% 15%;
	padding: 0px;
}

.power-profile2-img {
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 70px;
	min-width: 70px;
	box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.power-img {
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 140px;
	min-width: 140px;
	box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 1.0);
}

.power-profile-info {
	font-family: "SF Pro";
	color: $fg;
}

.power-profile-name {
	font-size: 15px;
	font-weight: bold;
}

.power-profile-os,
.power-profile-uptime {
	font-size: 12px;
}

.userinfobox {
  .info {
    .username {
      margin-left: 8px;
      font-weight: 500;
    }
  }
  .useractions {
    .logout {
      margin: 5px 0px 5px 5px;
      border-radius: 10px;
      transition: all ease .2s;
      font-size: 25px;
      font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
      font-weight: 200;
      &:hover { background-color: $bg; }
      &:active { background-color: $bg; }
    }
  }
}

  .control-center {
		background-color: $bg;
		border-radius: 10px;
		font-family: "DM Sans";
	}

.third-row {
		margin-top: 1.5em;
		border-bottom: 3px solid $background-tertiary;

		.user-info {
			margin: .25em 0em 1.5em 2.5em;

			.user-info-avatar {
				background-image: url("profile-image");
				background-size: cover;
				min-height: 48px;
				min-width: 48px;
				border-radius: 100%;
			}

			.user-info-label {
				margin: 0em 0em 0em .8em;
				font-size: 16px;
				font-weight: bold;
			}

			.user-info-hostname {
				margin: 0em 0em 0em .8em;
				font-size: 13px;
				color: #6e7071;
			}
		}

		.system-btn {
			margin: 0em 1.5em 1.25em 0em;

			button {
				background-color: $background-tertiary;
				padding: 1em .5em;
				margin: .5em .25em;
				border-radius: 10px;

				font-family: "Material Icons";
			}

			.exit-btn, .lock-btn {
				font-size: 20px;
			}

			.lock-btn {
				font-weight: bold;
			}
		}
	}
}


.music-player-container {
    background-color: $contrastbg;
    margin: 20px 10px 10px 10px;
    border-radius: 15px;
}

.music-player-album {
    background-size: contain;
    background-color: $bg;
    min-width: 80px;
    min-height: 80px;
    margin: 25px 15px 15px 25px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}

.music-player-info {
    margin: 20px 0px 0px 0px;
}

.music-player-name-box {
    background-color: $bg;
    border-radius: 30px;
    color: $purple;
}

.music-player-name-icon {
    font-size: 14px;
    padding: 3px 6px 3px 6px;
    border-radius: 100%;
    font-weight: 900;
    margin: 5px 0px 5px 5px;
}

.music-player-name {
    font-size: 18px;
    font-weight: 600;
    margin: 2px 15px 0px 0px;
}

.music-player-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 0px 5px;
}

.music-player-artist {
    font-size: 16px;
    margin: 10px 0px 0px 5px;
}

.player-buttons-box {
    font-size: 20px;
    margin: 10px 0px 20px 0px;

}

.player-prev:hover,
.player-pp:hover,
.player-next:hover {
    color: $red;
}


 .side-options-box {
    margin: 10px 10px 10px 10px;

}

.power-button,
.exit-button,
.settings-button {
    background-color: $contrastbg;
    padding: 9px 10px 9px 10px;
    border-radius: 100%;
}

.power-button:hover,
.exit-button:hover,
.settings-button:hover {
    background-color: $gray-alt;
    color: $blue;
}


.system-menu {
    border: 5px solid $bg-alt;
    border-radius: 20px;
    box-shadow: inset 0 0 8 1px #11111b;
    background-color: $darkbg;
}

.system-menu-box {
    border: 0px solid $bg-alt;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px #11111b;
    background-color: $contrastbg;
    background-size: 300px;
	min-height: 100px;
	min-width: 100px;
}

.first-row-system {
    margin-left: 13px;
    padding: 20px;
}

.second-row-system {
    margin-left: 13px;
    padding: 10px 20px 20px 20px;
}

.sliders {
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    background: $contrastbg;
}

.volume-slider-icon {
    color: $fg;
    font-size: 25px;
    font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
    font-weight: 200;
    text-shadow: 0px 0px 8px #000000;
    margin-left: 0px;
}

.volume-slider {
    margin-left: 10px;
}

slider {
    background: transparent;
}

.volume-slider trough {
    background-color: $gray-alt;
    border-radius: 15px;
}

.volume-slider highlight {
    padding: 0.0em;
    background-color: $purple;
    border-radius: 15px;
}

.volume-slider-button {
    margin: 0px 20px 0px 20px;
    background-color: $darkbg;
    color: $fgSecondary;
    padding: 2px 5px 2px 5px;
    border-radius: 0%;
    font-family: "Inter", "Phosphor";
    font-size: 0px;

}

  .scale-label{
    min-width: 40px;
    color: $fg;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
  }

;;/*************************************************/
;;/*************      COLOR CLASSES    *************/
;;/*************************************************/
.pink{
  color: $pink;
}

.green{
  color: $green;
}

.yellow{
  color: $yellow;
}

.blue{
  color: $blue;
}

.purple{
  color: $purple;
}

.cyan{
  color: $cyan;
}

.actions {
  background-color: $darkbg;
  border-top: 2px solid $contrastbg;
  border-bottom: 2px solid $contrastbg;
  border-left: 2px solid $contrastbg;
  border-right: 2px solid $contrastbg;
  border-radius: 0 0 0 9%;
  color: $fg;
  font-family: Product Sans;
  padding: 10px;
}

;;/*************************************************/
;;/*************      PLAYER WEDGIT    *************/
;;/*************************************************/

.song{
  font-size: 18px;
}

.artist{
  font-size: 18px;
}

.control{
  font-size: 25px;

;  font-weight: bold;
}

.metric-player  scale trough highlight {
  all: unset;
  border-radius: 10px;
  background-color: $pink;

}

.metric-player scale trough  {
  background-color: $bg;
  border-radius: 10px;
  min-height: 5px;

}

.metric-player scale trough  {
  min-width: 280px;
  padding: 0.5em;

}

.avatar-mpd-box {
  font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
	min-height: 150px;
	min-width: 150px;
  padding: 0.5em;
}


