
  $darkbg: #0b0d16;
  $bg: rgba($color: #000000, $alpha: 0.0);;
  $bgSecondary: #11131c;
  $bgSecondaryAlt: #a5b6cf;
  $bgCal: #FFFFFF;
  $bg-alt: #313244;

  $fg: #a5b6cf;
  $fg-alt: #191919;
  $fgDim: #a5b6cf;
  $fgSecondary: #161719;

  $contrastbg: #0f111a;
  $watermelon: #dd6777;
  $gray: #585b70;
  $gray-alt: #6c7086;



  $background: $bg;
  $backgroundSecondary: $bgSecondary;
  $backgroundSecondaryAlt: $bgSecondaryAlt;
  $foreground: $fg;
  $foregroundDim: $fgDim;

  $darker-background: #0b0f10;
  $background-primary: #101415;
  $background-secondary: #151a1c;
  $background-tertiary: #192022;
  $lighter-background: #1C2325;

  $foreground-primary: #C5C8C9;
  $foreground-secondary: #9fa0a0;
  $foreground-tertiary: #6e7071;


  $black: #151720;
  $dimblack: #1a1c25;
  $lightblack: #262831;

  $red: #dd6777;
  $green: #90ceaa;
  $yellow: #ecd3a0;
  $blue: #89b4fa;
  $blue-desaturated: #93cee9;
  $magenta: #c296eb;
  $cyan: #74c7ec;
  $purple: #F52C9E;
  $pink: #bfccef;

  $aquamarine: #90ceaa;
  $accent: $blue;
  $javacafeMagenta: #c296eb;
  $javacafeBlue: #86aaec;

$base00: #101317;
$base01: #171C21;
$base02: #1c2026;
$base03: #20252b;
$base04: #949494;
$base05: #d4d4d5;
$base06: #ffffff;
$base07: #54ced6;
$base08: #70c0ba;
$base09: #7ab0df;
$base10: #b77ee0;
$base11: #f87070;
$base12: #36c692;
$base13: #ffe59e;
$base14: #79dcaa;
$base15: #c397d8;
$shade00: #3d464e;
$shade01: #2b3238;
$shade02: #24292e;
$shade03: #1f2429;
$shade04: #1c2126;
$shade05: #191e23;
$shade06: #161b20;
$shade07: #151a1f;
$shade08: #13181d;
$shade09: #11161b;
$shade10: #0e1115;
$shade11: #0c0f13;
$shade12: #0a0d11;
$normal: darken(#000000, 50%);
$critical: rgba($color: #000000, $alpha: 0.45);
$low: darken(#79dcaa, 50%);
$other: darken(#ffe59e, 50%);
