.bar {
  border-radius: 0px;
  background-color: $bg;
  transition: 200ms ease-out;
  font-family: "Inter", "Phosphor";
  font-size: 15px;
  color: $fg;
}

.powermenu-box {
	background-color: $darkbg;
	border-radius: 0 0 0 15%;
	padding: 30px;
}

.power-profile-box {
	background-color: $dimblack;
	border-radius: 2% 2% 2% 15%;
	padding: 20px;
}

.power-profile-img {
	border-radius: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 165px;
	min-width: 165px;
	box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.5);
}

.power-profile-info {
	font-family: "SF Pro";
	color: $fg;
}

.power-profile-name {
	font-size: 20px;
	font-weight: bold;
}

.power-profile-os,
.power-profile-uptime {
	font-size: 12px;
}

.buttons-box {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 20px;
}

.shutdown {
	color: $red;
}

.reboot {
	color: $green;
}

.reboot:hover,
.shutdown:hover,
.exit:hover,
.lock:hover,
.suspend:hover {
	background-color: $black;
}

.reboot,
.shutdown,
.exit,
.lock,
.suspend {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 30px;
	border-radius: 2% 2% 2% 15%;
	padding: 20px;
	min-width: 100px;
	min-height: 100px;
	background-color: $dimblack;
}

.exit {
	color: $blue;
}

.suspend {
	color: $magenta;
}

.iconcpu,
.iconmem,
.icongpu,
.iconstor {
        font-size: 9px;
        font-weight: normal;
}

.iconcpu {
        color: $red;
}

.text-cpu {
        color: $red;
        font-weight: bold;
}

.iconmem {
        color: $blue;
}

.text-ram {
        color: $blue;
        font-weight: bold;
}

.icongpu {
        color: $yellow;
}

.text-gpu {
        color: $yellow;
        font-weight: bold;
}

.iconstor {
        color: $green;
}

.text-disk {
        color: $green;
        font-weight: bold;
}

.cpu_bar,
.mem_bar,
.gpu_bar,
.stor_bar,
scale trough {
        all: unset;
        background-color: $lightblack;
        border-radius: 10px;
        min-height: 4px;
        min-width: 100px;
}

.cpu_bar,
.mem_bar,
.gpu_bar,
.stor_bar,
scale trough highlight {
        all: unset;
        border-radius: 16px;
}

.cpu_bar scale trough highlight {
        background-color: $purple;
}

.mem_bar scale trough highlight {
        background-color: $purple;
}

.gpu_bar scale trough highlight {
        background-color: $yellow;
}

.stor_bar scale trough highlight {
        background-color: $purple;
}

.hour-box {
  background: $purple;
  padding: 0px 15px 0px 15px;
  margin: 30px 9px 5px 30px;
  border-radius: 25px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.minutes {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 15px;
  font-weight: bold;
}

.seconds {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 15px;
  font-weight: bold;
  color: $normal;
}

.weather-box {
  background: $bg;
  color: $fg;
  margin: 27px 0px 10px 15px;
  padding: 0px 20px 0px 20px;
  border-radius: 25px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.weather-desc {
	font-family: "SF Pro";
	font-size: 12px;
}

.weather-temp {
	font-family: "Liga SFMono Nerd Font";
	font-size: 11px;
}

.weather-icon {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 18px;
}

.actions-revealer {
  margin: 32px -9px 8px 0px;
  font-size: 14px;
  font-family: Liga SFMono Nerd Font;
  .dispatcher {
    background-color: $normal;
    &:hover, &.active { background-color: $purple; }
    &:active { background-color: $bgSecondary; }
    padding: 0px 13px 0px 13px;
      border-radius: 0 0 0 30%;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
  }
  .opened-actions {
    margin-right: 5px;
    .network {
      background-color: $normal;
      &:hover { background-color: $purple; }
      &:active { background-color: $bgSecondary; }
      padding: 0px 17px 0px 10px;
      margin: 0px -16px 0px 5px;
      border-radius: 0 0 0 30%;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      &.disconnected { color: $red; }
      &.connected { color: $green; }
    }
    .volume {
      background-color: $normal;
      &:hover { background-color: $purple; }
      &:active { background-color: $bgSecondary; }
      padding: 0px 17px 0px 17px;
      margin: 0px -18px 0px 7px;
      border-radius: 0 0 0 30%;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      &.red { color: $red; }
      &.magenta { color: $magenta; }
      &.yellow { color: $yellow; }
      &.blue { color: $blue; }
    }
  }
}




.bolt-date-box {
  padding: 0.0em 0em 0.0em 0.0em;
  background-color: $bg;
}

.bolt-date-pretty {
  font-size: 28;
  font-family: Liga SFMono Nerd Font;
  font-weight: bold;
  color: $purple;
  margin: 20px 0px 0px -46px;
  padding: 0px 0px 0px 0px;
}

.bolt-date-day {
  font-size: 15;
  font-family: Liga SFMono Nerd Font;
  font-weight: bold;
  color: $fg;
  margin: -3px 0px 0px -46px;
  padding: 0px 0px 0px 0px;
}

.date-pretty {
  font-size: 38;
  font-family: Liga SFMono Nerd Font;
  font-weight: bold;
  color: $fg;
  margin: 20px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}

.hour-pretty {
  font-size: 20px;
  font-family: Liga SFMono Nerd Font;
  font-weight: bold;
  color: $normal;
  background-color: $purple;
  border-radius: 20px;
  border-top: 1px solid $fg;
  border-bottom: 1px solid $fg;
  border-left: 1px solid $fg;
  border-right: 1px solid $fg;
  padding: 0px 10px 0px 10px;
  margin: 35px 10px 0px 140px;
}


.works {
padding: 2.14em 0.4em 0.19em 0;
}

.unoccupied {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 0 0 35%;
  padding: 0px 12px 0px 19px;
  margin:  0px 5px 0px 0px;
  min-width: 15px;
  background-color: $normal;
  &:hover, &.active { background-color: $purple; }
  &:active { background-color: $bgSecondary; }
  font-family: Liga SFMono Nerd Font;
  font-size: 11;
}

.occupied {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 0 0 35%;
  padding: 0px 12px 0px 15px;
  margin:  0px 5px 0px 0px;
  min-width: 15px;
  color: #7b8774;
  background-color: $normal;
  &:hover, &.active { background-color: $purple; }
  &:active { background-color: $bgSecondary; }
  font-family: Liga SFMono Nerd Font;
  font-size: 11;
}

.focused {
  border-top: 2px solid $purple;
  border-bottom: 2px solid $purple;
  border-left: 2px solid $purple;
  border-right: 2px solid $purple;
  border-radius: 0 0 0 35%;
  padding: 0px 20px 20px 5px;
  margin:  -7px 0px 3px 0px;
  color: $purple;
  background-color: $normal;
  font-size: 11;
  font-family: Liga SFMono Nerd Font;
}

.urgent {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 0 0 35%;
  padding: 0px 10px 0px 0px;
  min-width: 15px;
  color: #868686;
  background-color: $cyan;
  font-family: Liga SFMono Nerd Font;
  font-size: 11;
}

.date-box {
  font-family: Liga SFMono Nerd Font;
  font-size: 8px;
  ;font-weight: bold;
  background: $normal;
  margin: 25px 0px 12px 10px;
  padding: 2px 15px 2px 20px;
  border-radius: 25px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  .content {
    color: #f7f7f7;
    font-size: 1px;
  }
  .date-dropdown {
    margin:  0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #f7f7f7;
  }
}
