.actions {
  background-color: $color0;
  color: $color7;
  border-radius: 2.0%;
  font-family: Product Sans;
  padding: 0px;
}

;;/*************************************************************/
;;/**************         DATE WIDGET         ******************/
;;/*************************************************************/
.date{
  font-size: 50px;
  font-family: Anton;
  font-weight: bold;
}

.day{
  font-size: 13px;
  font-family: Poppins;
  font-weight: bold;
  margin: -20px 0px 0px 10px;
  color: $color6;
}


.separator{
  font-size: 12px;
  color: $color6;
  margin: 0px 0px -10px 0px;
}

.sep{
  font-size: 12px;
  color: $color6;
  margin: 0px 0px -10px 0px;
}

;;/*************************************************************/
;;/**************   VOLUME SLIDER WIDGET      ******************/
;;/*************************************************************/

.pavu-progress {
 margin: 0px 0px 0px 15px;
  trough {
    background-color: $color7;
    min-height: 0.1em;
    border-radius: 0.2em;

    highlight {
      background-color: $color1;
      border-radius: 0.2em;
    }

    slider {
      background: $color1;
      border-radius: 100%;
      margin: -4px;
    }
  }
}

.sliders {
    margin: 5px 0px 0px 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
}

.volume-slider-icon {
    color: $color7;
    font-size: 22px;
    font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
    font-weight: 200;
    text-shadow: 0px 0px 0px #000000;
    margin-left: 0px;
}

.volume-slider {
    margin-left: 10px;
}

.scale-lab{
    color: $color7;
    font-size: 13px;
    font-weight: 100;
    margin-left: 10px;
  }

.volume-slider trough {
    background-color: $color5;
    border-radius: 0px;
    min-height: 3px;
    min-width: 230px;
    margin-left: 0px;
}

  .volume-slider highlight {
    padding: 0.0em;
    background-color: $color1;
    border-radius: 15px;
}

.volume-slider-button {
    margin: 0px 0px 0px 25px;
    background-color: $color8;
    color: $color0;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    font-size: 13px;
}

;;/*************************************************************/
;;/**************   CONNECTIONS & NETWORK      ******************/
;;/*************************************************************/

.sysbuttonsbox {
     margin: 0px 20px 10px 20px;
  .block-container {
    .block {
      padding: 0px 0px 0px 0px;
      min-width: 0px;
      border-radius: 20px;
      transition: all ease .2s;
      color: $fg;
      &:hover { background-color: $color0; }
      &:active {
        color: $color7;
      }
      &.active {
        color: $color7;
        &:hover { background-color: $color0; }
        &:active {
        background-color: $color0;
        }
      }
      .iconbox .icon {
        font-size: 22px;
        font-family: 'JetBrainsMono Nerd Font';
        padding: 0px 0px 10px 0px;
      }
      .chevronbox {
        margin-right: 0px;
        font-family: 'JetBrainsMono Nerd Font';
      }
    }
    .labelbox {
      margin-right: 5px;
    }
    .label {
      font-family: "Product Sans";
	    margin: 0px 0px 0px 0px;
      font-weight: 500;
      font-size: 14px;
    }
    .label__status {
      font-size: 25px;
	  padding: 2px;
	  color: $color1;
	  margin: 0px -110px 0px 195px;
      min-width: 30px;
    }
  }
}

;;/*************************************************************/
;;/**************   MEDIA PLAYER MPD         ******************/
;;/*************************************************************/

.avatar-mpd-box {
  font-family: feather, Dosis, "Iosevka Nerd Font", sans-serif;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
	min-height: 0px;
	min-width: 0px;
  padding: 0px;
  margin: -10px 20px 20px 20px;
}

.avatar-mpd-icon {
  font-size: 25;
  margin: 0px 0px 0px 25px;
}

.avatar-mpd-name {
 font-weight: 500;
 margin: 0px 0px 0px 20px;
}

.avatar-mpd-separator {
  font-size: 15;
  padding: 0 0.5em 0 0.5em;
}

.avatar-mpd-artist {
margin: 0px 0px -35px 0px;

}

.avatar-mpd-title { font-size: 15;
  margin: 0px 0px -5px 0px;
}

.avatar-mpd-controls {
font-size: 15;
color: $color7;
margin: 0px 0px 5px 50px;
}

.avatar-mpd-button-playback:hover { color: $color1; }
.avatar-mpd-button-prev:hover { color: $color1; }
.avatar-mpd-button-next:hover { color: $color1; }

.avatar-mpd-button-like {
  padding-left: 12.9em;
  font-size: 20;
}

.avatar-mpd-button-like:hover { color: $color1; }

.avatar-mpd-minimal {
font-size: 25;
margin: 0px 38px 0px 0px;
color: $color1;
}

.avatar-mpd-footer {
font-size: 12;
margin: 10px 0px 0px 0px;
color: $color7;
}

.avatar-mpd-progress {
 margin: 0px 0px 0px 0px;
  trough {
    background-color: $color7;
    min-height: 0.1em;
    border-radius: 0.2em;

    highlight {
      background-color: $color1;
      border-radius: 0.2em;
    }

    slider {
      background: $color1;
      border-radius: 100%;
      margin: -4px;
    }
  }
}

.avatar-mpd-button-playback {
  font-size: 25;
  font-weight: 100;
  color: $color7;
}


/*************************************************/
/*************      SYSTEM WEDGIT     ************/
/*************************************************/

.metric-ram scale trough highlight , .metric-vol scale trough highlight , .metric-root scale trough highlight , .metric-disk scale trough highlight, .metric-bright scale trough highlight {

  border-radius: 10px;
}

.metric-ram scale trough , .metric-vol scale trough , .metric-root scale trough , .metric-disk scale trough, .metric-bright scale trough {

  background-color: $color0;
  border-radius: 5px;
  min-height: 18px;
  min-width: 300px;
  margin: 0px 0px 0px 5px;
}

.metric-ram scale trough highlight {
  background-color: $color1;
  border-radius: 5px;
}

.metric-vol scale trough highlight {
  background-color: $color1;
  border-radius: 5px;
}

.metric-bright scale trough highlight {
  background-color: $color1;
  border-radius: 5px;
}

.metric-root scale trough highlight {
  background-color: $color1;
  border-radius: 5px;
}

.metric-disk scale trough highlight {
  background-color: $color1;
  border-radius: 5px;
}

.metric-lable {
  font-family: "Liga SFMono Nerd Font";
  font-size: 18px;
  font-weight: bolder;
  padding-left: 22px;
  margin: 0px 10px 0px 0px;
}

.text-cpu {
        color: $color7;
        font-family: "Liga SFMono Nerd Font";
        font-size: 13px;
        margin: 0px 0px 0px -60px;
}

.text-ram {
        color: $color7;
        font-size: 13px;
        font-family: "Liga SFMono Nerd Font";
        margin: 0px 0px 0px -60px;
}

.text-disk {
        color: $color7;
        font-size: 13px;
        font-family: "Liga SFMono Nerd Font";
        margin: 0px 0px 0px -60px;
}


;;/*************************************************************/
;;/**************   SYSTEM MENU             ******************/
;;/*************************************************************/
.userinfobox {
padding: 15px;
  .info {
    .username {
      margin-left: 15px;
      font-size: 0px;
      font-weight: 500;
    }
  }
  .useractions {
    .logout {
      background-color: $color0;
      font-family: 'JetBrainsMono Nerd Font';
      font-size: 22px;
      padding: 5px;
      border-radius: 10px;
      transition: all ease .2s;
      &:hover { background-color: $color1; }
      &:active { background-color: $color1; }
    }
  }
}

.profile {
  background-color: $color0;
  border-radius: 10px;
  padding: 22px;
  .firstcol {
    .pfp {
      min-height: 22px;
      min-width: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    }
  }
  .lastcol {
    font-family: Product Sans;
    .username {
      font-size: 22px;
      font-weight: bolder;
    }
    .uptime, .hostname {
      font-size: 14px;
    }
    .hostname {
      color: $color6;
    }
    .uptime {
      color: $color7;
    }
  }
}
