@import '/home/uriel/.cache/wal/colors.scss';
@import 'mixins';

$red: adjust-color(change-color($color1, $hue: 10deg), $saturation: 20%);
$orange: adjust-color(change-color($color1, $hue: 20deg), $saturation: 20%);
$yellow: adjust-color(change-color($color1, $hue: 60deg), $saturation: 20%, $lightness: -10%);
$green: adjust-color(change-color($color1, $hue: 134deg), $saturation: 20%, $lightness: -15%);
$cyan: adjust-color(change-color($color1, $hue: 170deg), $saturation: 20%, $lightness: -15%);
$blue: adjust-color(change-color($color1, $hue: 210deg), $saturation: 20%);
$lavender: adjust-color(change-color($color1, $hue: 250deg), $saturation: 20%, $lightness: 10%);
$pink: adjust-color(change-color($color1, $hue: 300deg), $saturation: 20%, $lightness: 10%);

$color-good: $green;
$color-warn: $yellow;
$color-bad: $red;

$fg-muted: rgba($foreground, 0.6);
$accent: $color4;
$on-accent: contrast($color4, $foreground, $background);

$bg: rgba($color: #12181e, $alpha: 1.0);;
$bg-alt: rgba($color: #12181e, $alpha: 0.0);;
$bgSecondary: #0a0a09;
$contrastbg: #0a0a09;

$fg: #b4b9bb;
$fg-alt: #fdfffd;

$bgCal: #0a0a09;

$fgDim: #fdfffd;
$watermelon: #e05f65;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #242931;
$blue-desaturated: #74bee9;
$magenta: #c68aee;
$purple: #645D59;
$aquamarine: #94f7c5;
$javacafeMagenta: #c68aee;
$javacafeBlue: #70a5eb;
$white: $fg;
$gray: #645D59;
$gray-alt: #6c7086;

$orange: #465C68;
$cafe: rgba($color: #12181e, $alpha: 0.85);;
$normal: #121212;
$lightblack: #262831;

tooltip {
background-color: $bg;
font-family: "SF Mono";
font-weight: 500;
font-size: 14px;
}

 @import "./actions/actions.scss";
 @import "./bar/eww.scss";
 @import "./calendar/eww.scss";
 @import "./player/eww.scss";
 @import "./powermenu/eww.scss";
