@import '/home/uriel/.cache/wal/colors.scss';
@import 'mixins';

$red: adjust-color(change-color($color1, $hue: 10deg), $saturation: 20%);
$orange: adjust-color(change-color($color1, $hue: 20deg), $saturation: 20%);
$yellow: adjust-color(change-color($color1, $hue: 60deg), $saturation: 20%, $lightness: -10%);
$green: adjust-color(change-color($color1, $hue: 134deg), $saturation: 20%, $lightness: -15%);
$cyan: adjust-color(change-color($color1, $hue: 170deg), $saturation: 20%, $lightness: -15%);
$blue: adjust-color(change-color($color1, $hue: 210deg), $saturation: 20%);
$lavender: adjust-color(change-color($color1, $hue: 250deg), $saturation: 20%, $lightness: 10%);
$pink: adjust-color(change-color($color1, $hue: 300deg), $saturation: 20%, $lightness: 10%);

$color-good: $green;
$color-warn: $yellow;
$color-bad: $red;

$fg-muted: rgba($color7, 0.6);
$accent: $color4;
$on-accent: contrast($color4, $color7, $background);

$bg: rgba($color: #12181e, $alpha: 1.0);;
$bg-alt: rgba($color: #12181e, $alpha: 0.0);;
$bgSecondary: #0a0a09;
$contrastbg: #0a0a09;

$fg: #b4b9bb;
$fg-alt: #fdfffd;

$bgCal: #0a0a09;

$fgDim: #fdfffd;
$watermelon: #e05f65;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$color7: $fg;
$color7Dim: $fgDim;

$black: #242931;
$blue-desaturated: #74bee9;
$magenta: #c68aee;
$purple: #645D59;
$aquamarine: #94f7c5;
$javacafeMagenta: #c68aee;
$javacafeBlue: #70a5eb;
$white: $fg;
$gray: #645D59;
$gray-alt: #6c7086;

$orange: #465C68;
$cafe: rgba($color: #12181e, $alpha: 0.85);;
$normal: #121212;
$lightblack: #262831;

* {
	all: unset;
}

.section {
	margin-left: 18px;
	margin-right: 18px;
}


.bar {
	background-color: $bg-alt;
	padding: 10px 20px 10px 25px;
}

scale trough {

	background-color: $color0;
	border-radius: 16px;
	min-height: 5px;
	min-width: 80px;
	margin: 0px 0px 0px 5px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.group {
	background-color: $bg-alt;
	padding: 0 18px 0 20px;
	border-radius: 10px;
}

.power-icon,
.works,
.pacman-icon,
.network-icon,
.volumebar-icon {
	font-size: 18px;
	font-family: "Font Awesome 6 Pro Solid";
}

.pacman-text,
.network-text {
	font-family: "SF Mono";
	font-size: 15px;
	font-weight: bold;
}

// Powermenu
.power-icon {
	color: $color7;
}

.works {
padding: 0px 0px 0px 0px;
}

.unoccupied {
  border-top: 2px solid $color7;
  border-bottom: 2px solid $color7;
  border-left: 2px solid $color7;
  border-right: 2px solid $color7;
  border-radius: 0 0 0 35%;
  padding: 0px 12px 0px 19px;
  margin:  0px 0px 0px 0px;
  min-width: 15px;
  background-color: $color0;
  &:hover, &.active { background-color: $color1; }
  &:active { background-color: $color1; }
  font-family: Liga SFMono Nerd Font;
  font-size: 11;
}

.occupied {
  border-top: 2px solid $color7;
  border-bottom: 2px solid $color7;
  border-left: 2px solid $color7;
  border-right: 2px solid $color7;
  border-radius: 0 0 0 35%;
  padding: 0px 12px 0px 15px;
  margin:  0px 5px 0px 0px;
  min-width: 15px;
  color: $color7;
  background-color: $color0;
  &:hover, &.active { background-color: $color1; }
  &:active { background-color: $color1; }
  font-family: Liga SFMono Nerd Font;
  font-size: 11;
}

.focused {
  border-top: 2px solid $color7;
  border-bottom: 2px solid $color7;
  border-left: 2px solid $color7;
  border-right: 2px solid $color7;
  border-radius: 0 0 0 35%;
  padding: 0px 20px 20px 5px;
  margin:  -7px 0px 3px 0px;
  color: $color0;
  background-color: $color1;
  font-size: 11;
  font-family: Liga SFMono Nerd Font;
}

.urgent {
  border-top: 2px solid $color7;
  border-bottom: 2px solid $color7;
  border-left: 2px solid $color7;
  border-right: 2px solid $color7;
  border-radius: 0 0 0 35%;
  padding: 0px 10px 0px 0px;
  min-width: 15px;
  color: $color0;
  background-color: $color4;
  font-family: Liga SFMono Nerd Font;
  font-size: 11;
}



// Pacman
.pacman-icon {
	color: $color3;
}

.pacman-text {
	color: $color7;
	margin-left: 5px;
}

// Volume
.volume-bar trough highlight {
	background: $color2;
	border-radius: 16px;
}

// Network
.network-text {
	color: $color7;
	margin-left: 5px;
}

// Clock

.clock {
	font-family: "Anton";
}

.clock-hour {
	font-size: 20px;
	font-weight: bold;
	color: $color7;
}

.clock-minute {
	font-size: 19px;
	color: $color1;
	margin-left: -1;
}

.clock-separator {
	font-size: 20px;
	color: $color1;
	margin-top: 1px;
}

// Music
.musicbar-art {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 25px;
	min-width: 35px;
	border-radius: 100px;
}

.musicbar-title {
	color: $color7;
	font-size: 12px;
	font-weight: bold;
	font-family: "Liga SFMono Nerd Font";
}

.musicbar-toggle-icon {
	font-size: 20px;
}

.musicbar-previous-icon,
.musicbar-next-icon {
	font-size: 15px;
}

.musicbar-previous-icon,
.musicbar-next-icon,
.musicbar-toggle-icon {
	font-family: "Font Awesome 6 Pro Solid";
	color: $color7;
}

.musicbar-previous-icon:hover,
.musicbar-next-icon:hover,
.musicbar-toggle-icon:hover {
	color: $color5;
}

.actions-revealer {
  margin: 0px -29px 0px 0px;
  font-size: 14px;
  font-family: Liga SFMono Nerd Font;
  .dispatcher {
    background-color: $color0;
    &:hover, &.active { background-color: $color1; }
    &:active { background-color: $color2; }
    padding: 0px 13px 0px 13px;
      border-radius: 0 0 0 30%;
      border-top: 2px solid $color7;
      border-bottom: 2px solid $color7;
      border-left: 2px solid $color7;
      border-right: 2px solid $color7;
  }
  .opened-actions {
    margin-right: 5px;
    .network {
      background-color: $color0;
      &:hover { background-color: $color2; }
      &:active { background-color: $color2; }
      padding: 0px 17px 0px 10px;
      margin: 0px -16px 0px 5px;
      border-radius: 0 0 0 30%;
      border-top: 2px solid $color7;
      border-bottom: 2px solid $color7;
      border-left: 2px solid $color7;
      border-right: 2px solid $color7;
      &.disconnected { color: $color2; }
      &.connected { color: $color2; }
    }
