* {
	all: unset;
}

.calendar-main-box {
	background-color: $bg;
	padding: 20px;
}

.date {
	font-family: "Anton";
	color: $fg;
}

.time {
	font-weight: bolder;
	font-size: 50px;
}

.today {
	font-size: 25px;
	color: $fg;
}

.timeboxes {
	font-size: 8px;

	.magenta {
		color: $magenta;
	}

	.green {
		color: $green;
	}

	.yellow {
		color: $yellow;
	}
}

.weather-box {
	padding: 0px 10px 0px 10px;
}

.weather-desc {
	font-family: "SF Pro";
	font-size: 20px;
	color: $fg-alt;
}

.weather-temp {
	font-family: "SF Pro";
	font-size: 25px;
	font-weight: bolder;
	color: $fg;
}

.weather-icon {
	font-family: "Font Awesome 6 Pro Solid";
	font-size: 45px;
}

.cal {
	font-size: 18px;
	font-family: "SF Pro";
	font-weight: 500;
	background-color: $bg-alt;
	border-radius: 12px;
}

.cal-inner-box {
	padding: 10px 10px 0px 10px;
}

.calendar {
	padding: 5px
}

calendar:selected {
	color: $green;
}

calendar.header {
	color: $green;
	font-weight: bold;
}

calendar.button {
	color: $green;
}

calendar:indeterminate {
	color: $gray;
}
